---
import { getCollection } from "astro:content";
import BaseLayout from"../layouts/BaseLayout.astro";
import '../styles/global.css';

const { post } = Astro.props;


const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = post.data.title;
const bgUrl = `url('${post.data.image.url}')`;
---
<BaseLayout pageTitle={pageTitle}>
<button class="btn_back_to_blog" onclick="history.back()" aria-label="Volver atrás">Volver
</button>
<div class="hero">
    <h1>{pageTitle}</h1>
</div>

<div id="post_data">
    <p>{post.data.author}</p>
    <p>-</p>
    <div class="post-tags">
      <p>
      {post.data.tags && post.data.tags.map((tag, index) => (
        <>
          <a href={`/tutorial-astro/tags/${tag}`} class="post-tag-link">{tag}</a>
          {index < post.data.tags.length - 1 && <span class="tag-separator"> - </span>}
        </>
      ))}</p>
    </div>
    <p>-</p>
    <p>{post.data.pubDate.toLocaleDateString()}</p>
</div>
<p>{post.data.description}</p>
<slot />
<div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a class="tag-link" href={`/tutorial-astro/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

</BaseLayout>
<style define:vars={{ bgImage: bgUrl }}>
    .btn_back_to_blog {
        font-weight: bold;
        text-decoration: none;
        background-color: lightblue;
        padding: 16px;
        border-width: 0px;
    }

    .hero{
        background-image: var(--bgImage);
        padding: 100px;
        width: 100%;
        color: white;
        
    }
</style>